.container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 80%;

  margin: auto;
}

.card-container {
  position: relative;

  width: 100%;
  height: 100%;
}

.background-block {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.card-container svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  font-size: 3rem;

  color: gray;
}

.card-container svg:hover {
  cursor: pointer;
  color: blue;
}

article {
  position: absolute;
  width: 80%;
  height: 100%;

  transition: all 1s;
}

.card {
  position: absolute;
  overflow: hidden;

  width: 100%;
  height: 100%;
  // margin: 1rem;

  background-color: #fff;

  border-radius: 1rem;

  text-align: center;
  text-transform: capitalize;

  box-sizing: border-box;

  user-select: none;

  display: flex;
  flex-direction: row;
}

.card:hover {
  cursor: pointer;
}

.card .picture {
  height: 100%;
  width: auto;
}

.card img {
  height: 100%;
  width: auto;

  // object-fit: cover;
  // object-position: top;

  // pointer-events: none;
}

.card .text {
  flex: 1;
  width: 100%;
  font-size: 40px;
}

.prevCard {
  left: 0;
  opacity: 0;
  z-index: -1;
}

.activeCard {
  left: 50%;
  transform: translateX(-50%);
}

.nextCard {
  left: 100%;
  transform: translateX(-100%);
  opacity: 0;
  z-index: -1;
}

/* Carousel buttons */

.leftBtn {
  left: -1rem;
  font-size: 30px;
  color: #fff;
}

.rightBtn {
  right: -1rem;
  font-size: 30px;
  color: #fff;
}

/* Paginator styles */
.paginator {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  max-width: 30rem;
  height: 2rem;
}

.hr {
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: gray;
}

.dot {
  height: 1rem;
  width: 1rem;

  border-radius: 50%;

  background-color: gray;
  z-index: 1;

  transition: all 1s;
}

.dot:hover {
  cursor: pointer;
}

.dot.active {
  box-shadow: 0 0 0 4px grey;
  background-color: white;
}

@media screen and (max-width: 425px) {
  .container {
    width: 100%;
    overflow: hidden;
  }

  .card-container {
    width: 80%;
  }

  .prevCard {
    left: -35%;
  }

  .nextCard {
    left: 135%;
  }
}
