.demo-wrap {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.demo-bg {
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  height: 160%;
}

.demo-content {
  position: relative;
  height: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
}


.first-section {
  width: 100%;
  height: 78vh;
  background-color: #007cef;
  display: flex;
  flex-direction: column;
}

.second-section{
  width: 100%;
  padding: 50px;
}

.nav-header {
  color: #fff;
  font-size: 20px;
  .web-name {
    font-size: 30px;
  }
}
